body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.colorPlacer {

  border: 1px solid gray;
  height: 200px;
  width: 200px;
  margin: 0 auto;
  
}
.colorInput {

  margin-top: 10px;

}
.colorInput input {
  padding: 10px;
  width : 180px;
}
